:root {
  --white: #F8FAFC;
  --black: #09122C;
  --primary: #9DC08B;
  --secondary: #3A7D44;
  --third: #DF6D14;
  --hover: #c75115;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/crypto-bg.webp');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  font-family: "Lato", serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 4rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: .9;
}

.app-title span {
  display: block;
  color: var(--third);
  font-size: 4.8rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  label {
    color: var(--black);
  }

  .error-message {
    color: firebrick;
  }

  select {
    background-color: #f4f2eb;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
  }

  [type='submit'] {
    background-color: var(--third);
    color: var(--white);
    border: none;
    padding: 1rem;
    font-weight: 900;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 2rem;
    transition: background-color 300ms ease;
  }

  [type='submit']:hover {
    background-color: var(--hover);
  }
}

.result-wrapper {
  margin-top: 5rem;

  h2 {
    text-align: center;
  }
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;

  img {
    width: 100%;
  }

  p {
    margin: 0 0 1rem;
    font-size: 1.6rem;
  }

  span {
    font-weight: 700;
  }
}

/* Spinner */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: var(--hover);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}